<div class="container container_12">
	<div id="form" class="grid_6 prefix_5">
		<%= form_tag "getlink/get_link", :remote => true do %>
		<%= text_field_tag "link"%>
		<%= submit_tag "Get_link" %>
		<% end%>
	</div>
	<div id="list_link" class="grid_9 prefix_2">
	</div>
</div>
