<div class="container container_12">
	Hãy paste link truyện bên trang http://truyen.vnsharing.net vào khung và nhấn get link để lấy danh sách link download các chaper truyện
	<div id="form" class="grid_6 prefix_5">
		<%= form_tag "getlink/get_link", :remote => true do %>
		<%= text_field_tag "link"%>
		<%= submit_tag "Get link" %>
		<% end%>
	</div>
	<div id="list_link" class="grid_9 prefix_2">
	</div>
</div>
